[Desktop Entry]
Name=Cemu
Exec=sh -c "/mnt/adata/Games/cemu/cemu.appimage"
Comment=Wii U Emulator
Terminal=false
Categories=Game;
Icon=/home/ryan/.local/share/applications/icons/cemu.png
Type=Application
