[Desktop Entry]
Name=Slack
Exec=brave --app=https://copeland-software.slack.com/
Terminal=false
Categories=Chat;
Icon=/home/ryan/.local/share/applications/icons/slack.png
Type=Application
StartupWMClass=slack
