[Desktop Entry]
Name=Slippi
Exec=sh -c "/home/ryan/Applications/slippi/Slippi.appimage --no-sandbox"
Comment=Melee Netplay Launcher
Terminal=false
Categories=Game;
Icon=/home/ryan/Pictures/Icons/slippi.png
Type=Application
