[Desktop Entry]
Name=Slippi
Exec=sh -c "/mnt/adata/Games/slippi/slippi.appimage --no-sandbox"
Comment=Melee Netplay Launcher
Terminal=false
Categories=Game;
Icon=/home/ryan/.local/share/applications/icons/slippi.png
Type=Application
