[Desktop Entry]
Name=Teams
Exec=brave --app=https://teams.microsoft.com
Terminal=false
Categories=Chat;
Icon=/home/ryan/.local/share/applications/icons/teams.png
Type=Application
StartupWMClass=microsoft-teams
