source ~/.vimrc

set sidescrolloff=16

nnoremap <leader><leader> :source ~/.ideavimrc<CR>
nmap <C-,> <Action>(ShowSettings)

nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)

Plug 'vim-highlightedyank'
let g:highlightedyank_highlight_duration = "150"
let g:highlightedyank_highlight_color = "rgba(117, 199, 236, 77)"

" Substitute word under cursor across entire file in 'very magic' mode (<C-r><C-w> doesn't work in ideavim)
" Leaving search pattern between // blank uses last search term
nnoremap <leader>s *N:%s///gI<Left><Left><Left>

" Move/reselect -- no =gv to reformat b/c ideavim doesn't handle it correctly
xnoremap J dpV']
xnoremap K dkPV']

inoremap <C-BS> <C-w>

" Simulate hover
nmap K <Action>(ShowHoverInfo)

nmap <C-p> <Action>(GotoFile)
nmap <leader>f <Action>(GotoFile)

nmap <leader>F <Action>(FindInPath)
nmap <leader>R <Action>(ReplaceInPath)

"nnoremap gD :vsc Debug.ShowNextStatement<CR>
map <leader>bp <Action>(ToggleLineBreakpoint)

" Peek git diff
nmap <leader>gd <Action>(Compare.SameVersion)

nmap gd <Action>(GotoDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gr <Action>(FindUsages)
nmap gw <Action>(EditorToggleUseSoftWraps)
map <leader>/ <Action>(CommentByLineComment)

" Parameter help in insert mode
imap <C-h> <Action>(ParameterInfo)

nmap <leader>r <Action>(RenameElement)

" Code actions
nmap <leader>ca <Action>(ShowIntentionActions)
xmap <leader>ca <Action>(ShowIntentionActions)
nmap <leader>. <Action>(ShowIntentionActions)
xmap <leader>. <Action>(ShowIntentionActions)

nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)

" Project explorer
nmap <leader>E <Action>(ActivateProjectToolWindow)
nmap - <Action>(ActivateProjectToolWindow)

nmap <leader>P <Action>(PinActiveEditorTab)
nmap Q <Action>(CloseAllEditors)

" Close unpinned tabs
nmap gcu <Action>(CloseAllUnpinnedEditors)

" Close other tabs
nmap gco <Action>(CloseAllEditorsButActive)

nmap <C-j> <Action>(HarpoonerOpenFile0)
nmap <C-k> <Action>(HarpoonerOpenFile1)
nmap <C-l> <Action>(HarpoonerOpenFile2)
nmap <C-;> <Action>(HarpoonerOpenFile3)
nmap <leader>a <Action>(HarpoonerAddFile)
nmap <C-e> <Action>(HarpoonerQuickMenu)

if &ide =~? 'rider'
    nmap <leader>br <Action>(Run)
    nmap <leader>bd <Action>(Debug)
    nmap <leader>bs <Action>(BuildWholeSolutionAction)
    nmap <leader>bt <Action>(RiderUnitTestRunSolutionAction)
endif
